html, body {
  margin: 0;        /* entfernt Standard-Rand */
  padding: 0;
  height: 100%;     /* Body füllt den ganzen Bildschirm */
}

#map {
  width: 100%;
  height: 100vh;    /* volle Fensterhöhe */
  margin: 0;        /* kein Abstand unten */
}
